html {
  overflow-y: scroll;
}

body {
  background-color: #444;
}
.main.container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 2em 2em 7em;
  max-width: 990px;
}

#game-launch {
  background-color: #000;
  text-align: center;
}

footer {
  text-align: center;
  margin: 20px 0;
}
footer > a {
  display: inline-block;
  color: #ccc;
  opacity: 0.5;
}
footer > a:hover {
  color: #aaa;
  opacity: 1;
}
footer > a::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  content: url('../images/github.png');
  width: 24px;
  height: 24px;
}
